{% extends "adminBundle::inicio.html.twig"%}

{% block content %}

    <!DOCTYPE html>

    <html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>creacion de categorias</title>

    </head>
    <body>
    <h1>Creación de categorias</h1>
    {{ form_errors(form)}}
    {% if app.session.flashbag().get('estado') is defined %}{#verfica si esta definida la varibal estado si se envia algo desde el control#}


        {% for message in app.session.flashbag().get('estado')%}



            {%if message == "el Nombre no puede ser igual al codigo" %}

                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>

            {%elseif message ==  "se ha creado la categoria"%}

                <div class="alert alert-primary" role="alert">
                    {{ message }}
                    <a class="btn btn-primary" href="{{ path ("listcategory")}}" role="button">ir a lista</a>
                </div>


            {% elseif message == "la categoria se ha editado correctamente" %}

                <div class="alert alert-primary" role="alert">
                    {{ message }}
                </div>


            {% elseif message == "el codigo no puede contener espacios en blanco" %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>


            {% elseif message == "has ingresado caracteres no validos" %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>



            {% elseif message ==  "formulario no valido" %}

                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
            {%endif%}



        {%endfor%}
    {%endif%}

    {#llamada del formulario #}
    <div class="col-lg-6">
        {{form_start(form)}}



        {{ form_widget(form.guardar) }}

        {{form_end(form)}}

    </div>
    <div class="clearfix"></div>
    </body>
    </html>
{%endblock%}
