{# listar todas las etiquetas desde el tag controller #}

{% extends "adminBundle::inicio.html.twig"%}

{% block menu %}
    {% include "adminBundle:viewCategory:menucategory.html.twig"  with{'categories': categories} %}{#para listar las categorias en la barra superior #}
{% endblock %}

{% block content %}
    <!-- DataTables Example -->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            lista de productos</div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Categoria</th>
                        <th>Eliminar</th>
                        <th>Edición</th>
                    </tr>
                    </thead>
                    <tbody>
    {% for productsllegada in category.products %}


        {% if productsllegada.category.active == 0 %}

            <tr>
            <td>{{productsllegada.name}}</td>
            <td>{{productsllegada.category.name}}</td>
            <td>    <a href="{{ path('deleteproducts' , {"id":productsllegada.id}) }}" class="btn btn-danger" onclick="return confirm('Estas seguro de que quieres eliminar?')">Eliminar</a></td>
            <td> <a href="{{path("editproducts",{"id":productsllegada.id})}}" class="btn btn-success">Editar</a></td>



            <div class="clearfix"></div>



            {% endif%}

    {%endfor%}
    </tr>
    </tbody>
    </table>
    </div>
    </div>
    </div>


    <nav aria-label="Page navigation example">
        <ul class="pagination">


            {% if(page == 1) %}{#controla que no pueda retroceder menos de 0 #}


            {% else %}

                {% set page  = page-1 %}
            {% endif %}


            <li class="page-item"><a  class="page-link" href="{{  path('redireccionpages', {'id':category.id,'page': page}) }}">&laquo;</a></li>
            {% for i in 1..pagecount %}
                <li class="page-item">
                    <a class="page-link" href="{{  path('redireccionpages', {'id':category.id, 'page': page}) }}">{{ i }}</a>
                </li>
            {% endfor %}

            {% if(pagesumar == pagecount) %}{#controla que no pueda avanzar  mas  de pagecount #}


            {% else %}

                {% set pagesumar  = page+1 %}
            {% endif %}
            <li class="page-item"><a class="page-link" href="{{  path('redireccionpages',{'id':category.id, 'page': page}) }}">&raquo;</a></li>



        </ul>
    </nav>




{% endblock content %}


