{% extends "adminBundle::inicio.html.twig"%}


{% block content %}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src = "https://code.jquery.com/jquery-3.3.1.min.js"> </script>

    <h1>Lista de Categorias</h1>
    <div class="col-lg-6">



        <div id="dialogoFormulario" title="Atención" style="display:none;">
            <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;">
	</span>¿Realmente desea enviar el contenido de este formulario?</p>
        </div>


        <table class="table">




            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Codigo</td>
                <td>Nombre</td>
                <td>Descripcion</td>
                <td>Estado</td>




            </tr>
            {% for categories in category %}{#variable  category enviada desde el controlador#}
                <tr>
                    <th scope="row">3</th>
                    <td>{{ categories.code}}</td>
                    <td>{{ categories.name}}</td>
                    <td>{{ categories.description}}</td>


                    {%   if categories.active == 1  %}

                        <td><a href= "{{ path("estadoactivar", { "id":categories.id })}}" class="btn btn-info">Activar</a></td>

                    {% else %}

                        <td><a href= "{{ path("estadodesactivar", { "id":categories.id })}}" class="btn btn-danger">Desactivar</a></td>

                    {% endif %}

                    <td><a href="{{path("redirecioneditcategory",{"id":categories.id})}}" class="btn btn-info">Editar</a></td>

                    {% if categories.products|length != 0 %}{#condicional para saber si una etiqueta esta siendo utilizada por una entrada#}




                        <td><a id="button-b" class="btn btn-warning" href="#" >Categoria en uso</a></td>

                    {% endif %}




                </tr>
            {%endfor%}
            </tbody>
        </table>
        <a class="btn btn-primary" href="{{ path ("addcategory")}}" role="button">Agregar</a>
        {% if app.session.flashbag().get('estado') is defined %}{#verfica si esta definida la varibal estado si se envia algo desde el control#}


            {% for message in app.session.flashbag().get('estado')%}


                {% if message ==  "la categoria se ha creado correctamente"%}

                    <div class="alert alert-primary" role="alert">
                        {{ message }}
                    </div>
                {%elseif message ==  "la categoria se ha editado correctamente"%}
                    <div class="alert alert-primary" role="alert">
                        {{ message }}
                    </div>

                {%endif%}

                {% if message ==  "formulario no valido" %}

                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                {%endif%}



            {%endfor%}
        {%endif%}
    </div>
    <script>
        $('#button-b').click(function(){

            swal({
                title: "estas seguro?",
                text: "Una vez eliminado no podra recuperar esta categoria!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {

                        swal("Ah sido eliminado correctamente!", {
                            icon: "success",

                        });
                    } else {

                        swal("Gracias");
                    }
                });

        });


    </script>
    <div class="clearfix"></div>
{% endblock content %}


