{% extends "adminBundle::inicio.html.twig"%}
{% block content %}
    <!DOCTYPE html>

    <html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>creacion de productos</title>

    </head>
<body>



        {% if app.session.flashbag().get('estado') is defined %}


            {% for message in app.session.flashbag().get('estado')%}


                {%if message == "el Nombre no puede ser igual al codigo" %}

                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>

                {%elseif message ==  "el producto se ha creado correctamente"%}

                    <div class="alert alert-primary" role="alert">
                        {{ message }}
                        &nbsp;

                        <a class="btn btn-primary" href="{{ path ("listaproducts")}}" role="button">ir a lista</a>
                    </div>


                {% elseif message == "el producto se ha editado correctamente" %}

                    <div class="alert alert-primary" role="alert">
                        {{ message }}
                    </div>


                    {% elseif message == "el codigo no puede contener espacios en blanco" %}
                        <div class="alert alert-danger" role="alert">
                            {{ message }}
                        </div>


                    {% elseif message == "has ingresado caracteres no validos" %}
                        <div class="alert alert-danger" role="alert">
                            {{ message }}
                        </div>

             {% endif %}
            {%endfor%}
        {%endif%}
        {#llamada del formulario #}

        <div class="container">
            <div class="card card-register mx-auto mt-5">
                <div class="card-header">Registro de productos</div>
                <div class="card-body">

                    <div class="form-group">
                        <div class="form-row-6">

                            {{form_start(form)}}





                            {{form_end(form)}}


                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="text-center">
            <a class="d-block small mt-3" href="{{ path ("listcategory") }}">Lista</a>
            <a class="d-block small" href=#">inicio</a>
        </div>

        <div class="clearfix"></div>

</body>

</html>

{% endblock%}