{% extends "adminBundle::inicio.html.twig"%}
{% block content %}

    <h2>REGISTRO DE PRODUCTOS</h2>


        {% if app.session.flashbag().get('estado') is defined %}


            {% for message in app.session.flashbag().get('estado')%}


                {%if message == "el Nombre no puede ser igual al codigo" %}

                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>

                {%elseif message ==  "el producto se ha creado correctamente"%}

                    <div class="alert alert-primary" role="alert">
                        {{ message }}
                        <a class="btn btn-primary" href="{{ path ("listaproducts")}}" role="button">ir a lista</a>
                    </div>


                {% elseif message == "el producto se ha editado correctamente" %}

                    <div class="alert alert-primary" role="alert">
                        {{ message }}
                    </div>


                    {% elseif message == "el codigo no puede contener espacios en blanco" %}
                        <div class="alert alert-danger" role="alert">
                            {{ message }}
                        </div>


                    {% elseif message == "has ingresado caracteres no validos" %}
                        <div class="alert alert-danger" role="alert">
                            {{ message }}
                        </div>

{% endif %}
            {%endfor%}
        {%endif%}
        <div class="form-group col-md-6">
            {{form_start(form)}}

            <br/>

            {{form_widget(form.guardar)}}



            {{form_end(form)}}


        </div>


{% endblock%}