{# empty Twig template #}
{% extends "adminBundle::inicio.html.twig"%}
{% block menu %}
    {% include "adminBundle:viewCategory:menucategory.html.twig"  with{'categories': categories} %}{#para listar las categorias en la barra superior #}
{% endblock %}

{% block content %}
    {% if app.session.flashbag().get('estado') is defined %}


        {% for message in app.session.flashbag().get('estado')%}


            {% if message ==  "el Producto se ha creado correctamente"%}

                <div class="alert alert-primary" role="alert">
                    {{ message }}
                </div>


            {% elseif message == "el Producto se ha editado correctamente" %}

                <div class="alert alert-primary" role="alert">
                    {{ message }}
                </div>

            {%endif%}





        {%endfor%}
    {%endif%}




    {% for productsllegada in products %}
        <div class="col-lg-11" >

            <p><strong> Producto : {{productsllegada.name}} </strong>  </p>
             <p> Categoria: {{productsllegada.category.name}}</p>


                <p>
                    <a href="{{path("deleteproducts",{"id":productsllegada.id})}}" class="btn btn-danger">Eliminar</a>
                </p>

                <p>
                    <a href="{{path("editproducts",{"id":productsllegada.id})}}" class="btn btn-success">Editar</a>
                </p>


            <div class="clearfix"></div>
            <hr>

        </div>
        <div class="clearfix"></div>
    {%endfor%}


{%endblock%}